H1, H2, H3, H4 {
FONT-FAMILY: Trebuchet MS, Helvetica, Arial;
}

A:link, A:visited, A:active {
TEXT-DECORATION: none;
}

A:hover {
TEXT-DECORATION: underline;
}

.calc FIELDSET {
DISPLAY: inline-block;
width: 95%;
}

.calc LABEL {
DISPLAY: inline-block;
PADDING-BOTTOM: 10px;
width: 50%;
}
