H1, H2, H3, H4 {
font-family: Trebuchet MS, Helvetica, Arial;
}

A:link, A:visited, A:active {
text-decoration: none;
}

A:hover {
text-decoration: underline;
}

.calc FIELDSET {
display: inline-block;
width: 95%;
}

.calc LABEL {
display: inline-block;
padding-bottom: 10px;
width: 50%;
}

.calc INPUT {
text-align: right;
min-width: 150px;
margin: 0 0 10px;
}

.calc INPUT[type="button"] {
text-align: center;
}

.calc INPUT[type="reset"] {
text-align: center;
}
